.Antares\.Pcf\.Money {
    height: 35px;
    color: black;
    font-size: 14px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.moneyLable {
    padding: 0px 9.5px;
    white-space: nowrap;
    cursor: text;
    box-sizing: border-box;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.moneyLable label {
    cursor: text;
}
.moneyLable:hover {
    border: 1px solid #666666;
    color: #666666;
    padding: 0px 8.5px;
}

[hidden]{
    display:none;
}

.Antares\.Pcf\.Money input[type=text], select {
    width: 100%;
    padding: 1.3px 9.3px 0;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #666666;
    border-radius: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
